# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [19]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(url, sep='\t')

chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [6]:
chipo = pd.read_table(url)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [7]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 3. Name of the max valued product

In [9]:
chipo['item_price'].max()

'$9.39 '

In [20]:
chipo['item_price'] = chipo['item_price'].str.replace("$","")

c:\Users\Miguel Angel\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [18]:
# chipo['item_price'] = chipo['item_price'].str[1:]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [22]:
chipo['item_price'] = chipo['item_price'].astype(float)

In [23]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [24]:
chipo['item_price'].max()

44.25

In [30]:
chipo[chipo['item_price'] == chipo['item_price'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [31]:
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']
chipo

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [32]:
chipo[chipo['unit_price'] == chipo['unit_price'].max()]

,order_id,quantity,item_name,choice_description,item_price,unit_price
281,123,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",23.78,11.89
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89,11.89
613,253,2,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",23.78,11.89
749,309,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.89,11.89
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
1159,478,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89,11.89
1311,534,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
1326,541,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89,11.89
1505,612,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.89,11.89
1571,637,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",11.89,11.89
1590,644,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89,11.89
1816,734,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89,11.89
2401,953,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",11.89,11.89
2439,969,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89,11.89
2442,970,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.89,11.89
2610,1035,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
2740,1088,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.89,11.89
2804,1114,1,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.89,11.89
2957,1176,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.89,11.89
3120,1244,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
3208,1283,1,Barbacoa Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89,11.89
3350,1343,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",11.89,11.89
3493,1403,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
3546,1426,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, Guacamole]",11.89,11.89
3749,1499,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
4239,1692,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",11.89,11.89
4313,1720,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89

In [33]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98
6,3,1,Side of Chips,NaN,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25,9.25

### Step 4. How many products cost more than $10.00?

In [41]:
chipo[chipo['unit_price'] > 10]['item_name'].nunique()

25

### 4.1: Cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [56]:
chipo[chipo['unit_price'] > 10]['order_id'].nunique()

787

In [45]:
productos_10 = chipo[chipo['unit_price'] > 10]['item_name'].unique()
productos_10

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl', 'Chicken Salad',
       'Steak Salad Bowl', 'Chicken Crispy Tacos', 'Veggie Soft Tacos',
       'Barbacoa Soft Tacos', 'Carnitas Crispy Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Steak Soft Tacos',
       'Carnitas Soft Tacos', 'Steak Crispy Tacos'], dtype=object)

In [57]:
len(chipo[chipo['item_name'].isin(productos_10)]['order_id'].unique()) # incorrecto

1826

In [47]:
chipo[chipo['item_name']=="Steak Soft Tacos"]

,order_id,quantity,item_name,choice_description,item_price,unit_price
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25,9.25
61,28,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Cheese]",9.25,9.25
65,29,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",8.99,8.99
84,37,1,Steak Soft Tacos,[Tomatillo Red Chili Salsa],9.25,9.25
118,52,1,Steak Soft Tacos,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",8.99,8.99
175,78,1,Steak Soft Tacos,"[Roasted Chili Corn Salsa (Medium), Lettuce]",8.99,8.99
184,83,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream]]",9.25,9.25
266,116,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",9.25,9.25
278,122,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",8.99,8.99
293,128,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream]]",9.25,9.25
299,130,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), Lettuce]",8.99,8.99
342,149,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25,9.25
390,169,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream]]",9.25,9.25
494,207,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Sour Cream, Cheese]]",9.25,9.25
570,234,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese]]",9.25,9.25
961,395,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Cheese, Sou...",8.99,8.99
968,397,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream]]",9.25,9.25
1353,552,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.75,11.75
1365,558,1,Steak Soft Tacos,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99,8.99
1542,627,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.75,11.75
1617,653,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",11.75,11.75
1721,694,1,Steak Soft Tacos,"[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chi...",11.48,11.48
1912,772,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",9.25,9.25
1979,799,1,Steak Soft Tacos,"[Tomatillo-Green Chili Salsa (Medium), [Cheese...",8.99,8.99
2139,861,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",8.99,8.99
2144,864,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...",11.75,11.75
2250,907,1,Steak Soft Tacos,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",9.25,9.25
2450,973,1,Steak Soft Tacos,"[Tomatillo Red Chili Salsa, [Cheese, Sour Cream]]",9.25,9.25
2654,1054,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",9.25,9.25
2732,1085,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Sour Cream]",9.25,9.25
2840,1128,1,Steak Soft Tacos,"[Tomatillo-Green Chili Salsa (Medium), [Cheese...",8.99,8.99
2844,1130,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream]]",9.25,9.25
2879,1144,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Sour Cream, Cheese, Lett...",11.75,11.75
3105,1239,1,Steak Soft Tacos,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",11.48,11.48
3205,1282,1,Steak Soft Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream]]",8.99,8.99
3452,1388,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Sour Cream, Lett...",9.25,9.25
3473,1396,1,Steak Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.99,8.99
3569,1432,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",9.25,9.25
3597,1442,1,Steak Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",9.25,9.25
3625,1451,1,Steak Soft Tacos,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",11.48,11.48
3705,1483,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",9.25,9.25
3710,1483,1,Steak Soft Tacos,"[Fresh Tomato Salsa, Guacamole]",11.75,11.75
3796,1520,1,Steak Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",9.25,9.25
3870,1552,1,Steak Soft Tacos,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99,8.99
3900,1563,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",9.25,9.25
3910,1568,1,Steak Soft Tacos,"[Tomatillo-Green Chili Salsa (Medium), [Rice, ...",8.99,8.99
4038,1615,1,Steak Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",9.25,9.25
4052,1622,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",9.25,9.25
4130,1654,1,Steak Soft Tacos,[Fresh Tomato Salsa],9.25,9.25
4181,1670,1,Steak Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Sour...",9.25,9.25
4230,1689,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",9.25,9.25
4287,1709,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",9.25,9.25
4297,1714,1,Steak Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.25,9.25
4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50,9.25
4549,1808,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",9.25,9.25

In [50]:
chipo.groupby("item_name")['unit_price'].mean()

item_name
6 Pack Soft Drink                         6.490000
Barbacoa Bowl                            10.187273
Barbacoa Burrito                          9.832418
Barbacoa Crispy Tacos                    10.087273
Barbacoa Salad Bowl                      10.640000
Barbacoa Soft Tacos                      10.018400
Bottled Water                             1.431667
Bowl                                      7.400000
Burrito                                   7.400000
Canned Soda                               1.090000
Canned Soft Drink                         1.250000
Carnitas Bowl                            10.315588
Carnitas Burrito                          9.975932
Carnitas Crispy Tacos                     9.852857
Carnitas Salad                            8.990000
Carnitas Salad Bowl                      11.056667
Carnitas Soft Tacos                       9.398500
Chicken Bowl                              9.657727
Chicken Burrito                           9.475949
Chicken Crispy Tacos                      9.492340
Chicken Salad                             9.010000
Chicken Salad Bowl                        9.909091
Chicken Soft Tacos                        9.240261
Chips                                     2.149242
Chips and Fresh Tomato Salsa              2.748727
Chips and Guacamole                       4.345616
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Roasted Chili Corn Salsa        2.950000
Chips and Roasted Chili-Corn Salsa        2.390000
Chips and Tomatillo Green Chili Salsa     2.950000
Chips and Tomatillo Red Chili Salsa       2.950000
Chips and Tomatillo-Green Chili Salsa     2.390000
Chips and Tomatillo-Red Chili Salsa       2.390000
Crispy Tacos                              7.400000
Izze                                      3.390000
Nantucket Nectar                          3.390000
Salad                                     7.400000
Side of Chips                             1.690000
Steak Bowl                               10.232559
Steak Burrito                             9.993424
Steak Crispy Tacos                        9.952857
Steak Salad                               8.915000
Steak Salad Bowl                         11.027931
Steak Soft Tacos                          9.578182
Veggie Bowl                              10.011882
Veggie Burrito                            9.602842
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Veggie Salad Bowl                        10.138889
Veggie Soft Tacos                         9.352857
Name: unit_price, dtype: float64

In [62]:
chipo.iloc[4619]

order_id                                                           1834
quantity                                                              1
item_name                                            Chicken Salad Bowl
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
item_price                                                        11.25
unit_price                                                        11.25
Name: 4619, dtype: object

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [70]:
chipo[['item_name',"unit_price"]].drop_duplicates().head(30)

                                item_name  unit_price
0            Chips and Fresh Tomato Salsa        2.39
1                                    Izze        3.39
2                        Nantucket Nectar        3.39
3   Chips and Tomatillo-Green Chili Salsa        2.39
4                            Chicken Bowl        8.49
5                            Chicken Bowl       10.98
6                           Side of Chips        1.69
7                           Steak Burrito       11.75
8                        Steak Soft Tacos        9.25
9                           Steak Burrito        9.25
10                    Chips and Guacamole        4.45
11                   Chicken Crispy Tacos        8.75
12                     Chicken Soft Tacos        8.75
13                           Chicken Bowl       11.25
16                        Chicken Burrito        8.49
18                            Canned Soda        1.09
19                           Chicken Bowl        8.75
21                       Barbacoa Burrito        8.99
23                        Chicken Burrito       10.98
27                       Carnitas Burrito        8.99
31                          Steak Burrito        8.99
33                          Carnitas Bowl        8.99
34                          Bottled Water        1.09
38  Chips and Tomatillo Green Chili Salsa        2.95
39                          Barbacoa Bowl       11.75
40                                  Chips        2.15
44                     Chicken Salad Bowl        8.75
49                    Chips and Guacamole        3.99
54                             Steak Bowl        8.99
56                    Barbacoa Soft Tacos        9.25

### Step 6. Sort by the name of the item

In [74]:
chipo.sort_values(['item_name'], ascending=True)

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [82]:
chipo[chipo['unit_price'] == chipo['unit_price'].max()]['quantity'].sum()

30

In [83]:
chipo['item_price'].idxmax()

3598

In [86]:
chipo.loc[chipo['item_price'].idxmax(), 'quantity']

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [89]:
len(chipo[chipo['item_name'] == "Veggie Salad Bowl"])

18

In [92]:
chipo['item_name'].value_counts()['Veggie Salad Bowl']

18

### Step 9. How many times did someone order more than one Canned Soda?

In [95]:
len(chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)])

20

In [98]:
chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]['order_id'].nunique()

18