# Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) and assign it to a variable called users. Use pd.read_csv()

In [63]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

users = pd.read_csv(url, sep="|", index_col="user_id")

In [64]:
print(users)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [10]:
print(type(users))

<class 'pandas.core.frame.DataFrame'>

In [14]:
print(type(users['age']))

<class 'pandas.core.series.Series'>

### Step 3. See the first 25 entries

In [27]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 4. See the first 25 entries in a differente way

In [39]:
users.loc[:25]

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

In [40]:
users.iloc[:25]

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

In [51]:
users.head(5)

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

In [67]:
users.loc[2:4, "gender":"occupation"]

        gender  occupation
user_id
2            F       other
3            M      writer
4            M  technician

In [69]:
users.iloc[2:4, 1:3]

        gender  occupation
user_id
3            M      writer
4            M  technician

In [37]:
# users.loc[2:5,"gender":"occupation"]

        gender  occupation
user_id
2            F       other
3            M      writer
4            M  technician
5            F       other

In [38]:
# users.iloc[2:5,1:3]

        gender  occupation
user_id
3            M      writer
4            M  technician
5            F       other

In [32]:
# np.array(users)[0:5]

array([[24, 'M', 'technician', '85711'],
       [53, 'F', 'other', '94043'],
       [23, 'M', 'writer', '32067'],
       [24, 'M', 'technician', '43537'],
       [33, 'F', 'other', '15213']], dtype=object)

### Step 5. See the last 10 entries

In [42]:
step5 = users.tail(10)

In [43]:
step5

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [44]:
print(type(step5))

<class 'pandas.core.frame.DataFrame'>

### Step 6. What is the number of observations in the dataset?
Solve it by 2 different ways

In [82]:
len(users)

943

In [77]:
users.shape[0]

943

In [83]:
len(users.index)

943

### Step 7. What is the number of columns in the dataset?
Solve it by 2 different ways

In [85]:
users.shape[1]

4

In [88]:
len(users.columns)

4

In [95]:
# users.columns.shape

In [97]:
print(np.array(users.columns))

['age' 'gender' 'occupation' 'zip_code']

### Step 8. Print the name of all the columns.

In [98]:
for x in users.columns:
    print(x)

age
gender
occupation
zip_code

In [99]:
l_col = list(users.columns)
print(*l_col)

age gender occupation zip_code

In [100]:
print(users.columns)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed? Get the index values

In [106]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [107]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [108]:
users.values

array([[24, 'M', 'technician', '85711'],
       [53, 'F', 'other', '94043'],
       [23, 'M', 'writer', '32067'],
       ...,
       [20, 'M', 'student', '97229'],
       [48, 'F', 'librarian', '78209'],
       [22, 'M', 'student', '77841']], dtype=object)

In [109]:
np.array(users)

array([[24, 'M', 'technician', '85711'],
       [53, 'F', 'other', '94043'],
       [23, 'M', 'writer', '32067'],
       ...,
       [20, 'M', 'student', '97229'],
       [48, 'F', 'librarian', '78209'],
       [22, 'M', 'student', '77841']], dtype=object)

In [113]:
for i in np.array(users):
    print(i)
    for j in i:
        print(j)

[24 'M' 'technician' '85711']
24
M
technician
85711
[53 'F' 'other' '94043']
53
F
other
94043
[23 'M' 'writer' '32067']
23
M
writer
32067
[24 'M' 'technician' '43537']
24
M
technician
43537
[33 'F' 'other' '15213']
33
F
other
15213
[42 'M' 'executive' '98101']
42
M
executive
98101
[57 'M' 'administrator' '91344']
57
M
administrator
91344
[36 'M' 'administrator' '05201']
36
M
administrator
05201
[29 'M' 'student' '01002']
29
M
student
01002
[53 'M' 'lawyer' '90703']
53
M
lawyer
90703
[39 'F' 'other' '30329']
39
F
other
30329
[28 'F' 'other' '06405']
28
F
other
06405
[47 'M' 'educator' '29206']
47
M
educator
29206
[45 'M' 'scientist' '55106']
45
M
scientist
55106
[49 'F' 'educator' '97301']
49
F
educator
97301
[21 'M' 'entertainment' '10309']
21
M
entertainment
10309
[30 'M' 'programmer' '06355']
30
M
programmer
06355
[35 'F' 'other' '37212']
35
F
other
37212
[40 'M' 'librarian' '02138']
40
M
librarian
02138
[42 'F' 'homemaker' '95660']
42
F
homemaker
95660
[26 'M' 'writer' '30068']
26
M
writer
30068
[25 'M' 'writer' '40206']
25
M
writer
40206
[30 'F' 'artist' '48197']
30
F
artist
48197
[21 'F' 'artist' '94533']
21
F
artist
94533
[39 'M' 'engineer' '55107']
39
M
engineer
55107
[49 'M' 'engineer' '21044']
49
M
engineer
21044
[40 'F' 'librarian' '30030']
40
F
librarian
30030
[32 'M' 'writer' '55369']
32
M
writer
55369
[41 'M' 'programmer' '94043']
41
M
programmer
94043
[7 'M' 'student' '55436']
7
M
student
55436
[24 'M' 'artist' '10003']
24
M
artist
10003
[28 'F' 'student' '78741']
28
F
student
78741
[23 'M' 'student' '27510']
23
M
student
27510
[38 'F' 'administrator' '42141']
38
F
administrator
42141
[20 'F' 'homemaker' '42459']
20
F
homemaker
42459
[19 'F' 'student' '93117']
19
F
student
93117
[23 'M' 'student' '55105']
23
M
student
55105
[28 'F' 'other' '54467']
28
F
other
54467
[41 'M' 'entertainment' '01040']
41
M
entertainment
01040
[38 'M' 'scientist' '27514']
38
M
scientist
27514
[33 'M' 'engineer' '80525']
33
M
engineer
80525
[30 'M' 'administrator' '17870']
30
M
administrator
17870
[29 'F' 'librarian' '20854']
29
F
librarian
20854
[26 'M' 'technician' '46260']
26
M
technician
46260
[29 'M' 'programmer' '50233']
29
M
programmer
50233
[27 'F' 'marketing' '46538']
27
F
marketing
46538
[53 'M' 'marketing' '07102']
53
M
marketing
07102
[45 'M' 'administrator' '12550']
45
M
administrator
12550
[23 'F' 'student' '76111']
23
F
student
76111
[21 'M' 'writer' '52245']
21
M
writer
52245
[28 'M' 'educator' '16509']
28
M
educator
16509
[18 'F' 'student' '55105']
18
F
student
55105
[26 'M' 'programmer' '55414']
26
M
programmer
55414
[22 'M' 'executive' '66315']
22
M
executive
66315
[37 'M' 'programmer' '01331']
37
M
programmer
01331
[25 'M' 'librarian' '46260']
25
M
librarian
46260
[16 'M' 'none' '84010']
16
M
none
84010
[27 'M' 'programmer' '52246']
27
M
programmer
52246
[49 'M' 'educator' '08403']
49
M
educator
08403
[50 'M' 'healthcare' '06472']
50
M
healthcare
06472
[36 'M' 'engineer' '30040']
36
M
engineer
30040
[27 'F' 'administrator' '97214']
27
F
administrator
97214
[31 'M' 'marketing' '75240']
31
M
marketing
75240
[32 'M' 'educator' '43202']
32
M
educator
43202
[51 'F' 'educator' '48118']
51
F
educator
48118
[23 'M' 'student' '80521']
23
M
student
80521
[17 'M' 'student' '60402']
17
M
student
60402
[19 'M' 'student' '22904']
19
M
student
22904
[24 'M' 'engineer' '55337']
24
M
engineer
55337
[27 'M' 'engineer' '60067']
27
M
engineer
60067
[39 'M' 'scientist' '98034']
39
M
scientist
98034
[48 'F' 'administrator' '73034']
48
F
administrator
73034
[24 'M' 'student' '41850']
24
M
student
41850
[39 'M' 'scientist' 'T8H1N']
39
M
scientist
T8H1N
[24 'M' 'entertainment' '08816']
24
M
entertainment
08816
[20 'M' 'student' '02215']
20
M
student
02215
[30 'M' 'technician' '29379']
30
M
technician
29379
[26 'M' 'administrator' '61801']
26
M
administrator
61801
[39 'F' 'administrator' '03755']
39
F
administrator
03755
[34 'F' 'administrator' '52241']
34
F
administrator
52241
[21 'M' 'student' '21218']
21
M
student
21218
[50 'M' 'programmer' '22902']
50
M
programmer
22902
[40 'M' 'other' '44133']
40
M
other
44133
[32 'M' 'executive' '55369']
32
M
executive
55369
[51 'M' 'educator' '20003']
51
M
educator
20003
[26 'M' 'administrator' '46005']
26
M
administrator
46005
[47 'M' 'administrator' '89503']
47
M
administrator
89503
[49 'F' 'librarian' '11701']
49
F
librarian
11701
[43 'F' 'administrator' '68106']
43
F
administrator
68106
[60 'M' 'educator' '78155']
60
M
educator
78155
[55 'M' 'marketing' '01913']
55
M
marketing
01913
[32 'M' 'entertainment' '80525']
32
M
entertainment
80525
[48 'M' 'executive' '23112']
48
M
executive
23112
[26 'M' 'student' '71457']
26
M
student
71457
[31 'M' 'administrator' '10707']
31
M
administrator
10707
[25 'F' 'artist' '75206']
25
F
artist
75206
[43 'M' 'artist' '98006']
43
M
artist
98006
[49 'F' 'executive' '90291']
49
F
executive
90291
[20 'M' 'student' '63129']
20
M
student
63129
[36 'M' 'executive' '90254']
36
M
executive
90254
[15 'M' 'student' '05146']
15
M
student
05146
[38 'M' 'programmer' '30220']
38
M
programmer
30220
[26 'M' 'student' '55108']
26
M
student
55108
[27 'M' 'student' '55108']
27
M
student
55108
[24 'M' 'engineer' '94043']
24
M
engineer
94043
[61 'M' 'retired' '55125']
61
M
retired
55125
[39 'M' 'scientist' '60466']
39
M
scientist
60466
[44 'M' 'educator' '63130']
44
M
educator
63130
[29 'M' 'other' '55423']
29
M
other
55423
[19 'M' 'student' '77840']
19
M
student
77840
[57 'M' 'engineer' '90630']
57
M
engineer
90630
[30 'M' 'salesman' '60613']
30
M
salesman
60613
[47 'M' 'executive' '95032']
47
M
executive
95032
[27 'M' 'programmer' '75013']
27
M
programmer
75013
[31 'M' 'engineer' '17110']
31
M
engineer
17110
[40 'M' 'healthcare' '97232']
40
M
healthcare
97232
[20 'M' 'student' '16125']
20
M
student
16125
[21 'M' 'administrator' '90210']
21
M
administrator
90210
[32 'M' 'programmer' '67401']
32
M
programmer
67401
[47 'F' 'other' '06260']
47
F
other
06260
[54 'M' 'librarian' '99603']
54
M
librarian
99603
[32 'F' 'writer' '22206']
32
F
writer
22206
[48 'F' 'artist' '20008']
48
F
artist
20008
[34 'M' 'student' '60615']
34
M
student
60615
[30 'M' 'lawyer' '22202']
30
M
lawyer
22202
[28 'F' 'lawyer' '20015']
28
F
lawyer
20015
[33 'M' 'none' '73439']
33
M
none
73439
[24 'F' 'marketing' '20009']
24
F
marketing
20009
[36 'F' 'marketing' '07039']
36
F
marketing
07039
[20 'M' 'none' '60115']
20
M
none
60115
[59 'F' 'administrator' '15237']
59
F
administrator
15237
[24 'M' 'other' '94612']
24
M
other
94612
[53 'M' 'engineer' '78602']
53
M
engineer
78602
[31 'M' 'programmer' '80236']
31
M
programmer
80236
[23 'M' 'student' '38401']
23
M
student
38401
[51 'M' 'other' '97365']
51
M
other
97365
[50 'M' 'educator' '84408']
50
M
educator
84408
[46 'M' 'doctor' '53211']
46
M
doctor
53211
[20 'M' 'student' '08904']
20
M
student
08904
[30 'F' 'student' '32250']
30
F
student
32250
[49 'M' 'programmer' '36117']
49
M
programmer
36117
[13 'M' 'other' '48118']
13
M
other
48118
[42 'M' 'technician' '08832']
42
M
technician
08832
[53 'M' 'programmer' '20910']
53
M
programmer
20910
[31 'M' 'entertainment' 'V3N4P']
31
M
entertainment
V3N4P
[45 'M' 'artist' '83814']
45
M
artist
83814
[40 'F' 'librarian' '02143']
40
F
librarian
02143
[33 'M' 'engineer' '97006']
33
M
engineer
97006
[35 'F' 'marketing' '17325']
35
F
marketing
17325
[20 'F' 'artist' '02139']
20
F
artist
02139
[38 'F' 'administrator' '48103']
38
F
administrator
48103
[33 'F' 'educator' '68767']
33
F
educator
68767
[25 'M' 'student' '60641']
25
M
student
60641
[25 'M' 'student' '53703']
25
M
student
53703
[32 'F' 'other' '11217']
32
F
other
11217
[25 'M' 'educator' '08360']
25
M
educator
08360
[57 'M' 'engineer' '70808']
57
M
engineer
70808
[50 'M' 'educator' '27606']
50
M
educator
27606
[23 'F' 'student' '55346']
23
F
student
55346
[27 'M' 'programmer' '66215']
27
M
programmer
66215
[50 'M' 'lawyer' '55104']
50
M
lawyer
55104
[25 'M' 'artist' '15610']
25
M
artist
15610
[49 'M' 'administrator' '97212']
49
M
administrator
97212
[47 'M' 'healthcare' '80123']
47
M
healthcare
80123
[20 'F' 'other' '53715']
20
F
other
53715
[47 'M' 'educator' '55113']
47
M
educator
55113
[37 'M' 'other' 'L9G2B']
37
M
other
L9G2B
[48 'M' 'other' '80127']
48
M
other
80127
[52 'F' 'other' '53705']
52
F
other
53705
[53 'F' 'healthcare' '30067']
53
F
healthcare
30067
[48 'F' 'educator' '78750']
48
F
educator
78750
[55 'M' 'marketing' '22207']
55
M
marketing
22207
[56 'M' 'other' '22306']
56
M
other
22306
[30 'F' 'administrator' '52302']
30
F
administrator
52302
[26 'F' 'scientist' '21911']
26
F
scientist
21911
[28 'M' 'scientist' '07030']
28
M
scientist
07030
[20 'M' 'programmer' '19104']
20
M
programmer
19104
[26 'M' 'other' '49512']
26
M
other
49512
[15 'M' 'entertainment' '20755']
15
M
entertainment
20755
[22 'F' 'administrator' '60202']
22
F
administrator
60202
[26 'M' 'executive' '21218']
26
M
executive
21218
[36 'M' 'programmer' '33884']
36
M
programmer
33884
[33 'M' 'scientist' '27708']
33
M
scientist
27708
[37 'M' 'librarian' '76013']
37
M
librarian
76013
[53 'F' 'librarian' '97403']
53
F
librarian
97403
[39 'F' 'executive' '00000']
39
F
executive
00000
[26 'M' 'educator' '16801']
26
M
educator
16801
[42 'M' 'student' '29440']
42
M
student
29440
[32 'M' 'artist' '95014']
32
M
artist
95014
[30 'M' 'administrator' '95938']
30
M
administrator
95938
[33 'M' 'administrator' '95161']
33
M
administrator
95161
[42 'M' 'educator' '90840']
42
M
educator
90840
[29 'M' 'student' '49931']
29
M
student
49931
[38 'M' 'administrator' '02154']
38
M
administrator
02154
[42 'M' 'scientist' '93555']
42
M
scientist
93555
[49 'M' 'writer' '55105']
49
M
writer
55105
[55 'M' 'technician' '75094']
55
M
technician
75094
[21 'F' 'student' '55414']
21
F
student
55414
[30 'M' 'writer' '17604']
30
M
writer
17604
[40 'M' 'programmer' '93402']
40
M
programmer
93402
[27 'M' 'writer' 'E2A4H']
27
M
writer
E2A4H
[41 'F' 'educator' '60201']
41
F
educator
60201
[25 'F' 'student' '32301']
25
F
student
32301
[52 'F' 'librarian' '10960']
52
F
librarian
10960
[47 'M' 'lawyer' '06371']
47
M
lawyer
06371
[14 'F' 'student' '53115']
14
F
student
53115
[39 'M' 'marketing' '92037']
39
M
marketing
92037
[43 'M' 'engineer' '01720']
43
M
engineer
01720
[33 'F' 'educator' '85710']
33
F
educator
85710
[39 'M' 'engineer' '03060']
39
M
engineer
03060
[66 'M' 'salesman' '32605']
66
M
salesman
32605
[49 'F' 'educator' '61401']
49
F
educator
61401
[33 'M' 'executive' '55345']
33
M
executive
55345
[26 'F' 'librarian' '11231']
26
F
librarian
11231
[35 'M' 'programmer' '63033']
35
M
programmer
63033
[22 'M' 'engineer' '02215']
22
M
engineer
02215
[22 'M' 'other' '11727']
22
M
other
11727
[37 'M' 'administrator' '06513']
37
M
administrator
06513
[32 'M' 'programmer' '43212']
32
M
programmer
43212
[30 'M' 'librarian' '78205']
30
M
librarian
78205
[19 'M' 'student' '20685']
19
M
student
20685
[29 'M' 'programmer' '27502']
29
M
programmer
27502
[19 'F' 'student' '47906']
19
F
student
47906
[31 'F' 'educator' '43512']
31
F
educator
43512
[51 'F' 'administrator' '58202']
51
F
administrator
58202
[28 'M' 'student' '92103']
28
M
student
92103
[46 'M' 'executive' '60659']
46
M
executive
60659
[21 'F' 'student' '22003']
21
F
student
22003
[29 'F' 'librarian' '22903']
29
F
librarian
22903
[28 'F' 'student' '14476']
28
F
student
14476
[48 'M' 'librarian' '01080']
48
M
librarian
01080
[45 'M' 'scientist' '99709']
45
M
scientist
99709
[38 'M' 'engineer' '98682']
38
M
engineer
98682
[60 'M' 'retired' '94702']
60
M
retired
94702
[37 'M' 'educator' '22973']
37
M
educator
22973
[44 'F' 'writer' '53214']
44
F
writer
53214
[49 'M' 'administrator' '63146']
49
M
administrator
63146
[42 'F' 'administrator' '44124']
42
F
administrator
44124
[39 'M' 'artist' '95628']
39
M
artist
95628
[23 'F' 'educator' '20784']
23
F
educator
20784
[26 'F' 'student' '20001']
26
F
student
20001
[33 'M' 'educator' '31404']
33
M
educator
31404
[33 'M' 'educator' '60201']
33
M
educator
60201
[28 'M' 'technician' '80525']
28
M
technician
80525
[22 'M' 'student' '55109']
22
M
student
55109
[19 'M' 'student' '28734']
19
M
student
28734
[28 'M' 'engineer' '20770']
28
M
engineer
20770
[25 'M' 'student' '37235']
25
M
student
37235
[25 'M' 'student' '84103']
25
M
student
84103
[29 'M' 'executive' '95110']
29
M
executive
95110
[28 'M' 'doctor' '85032']
28
M
doctor
85032
[42 'M' 'engineer' '07733']
42
M
engineer
07733
[26 'F' 'librarian' '22903']
26
F
librarian
22903
[44 'M' 'educator' '42647']
44
M
educator
42647
[23 'M' 'entertainment' '07029']
23
M
entertainment
07029
[35 'F' 'none' '39042']
35
F
none
39042
[17 'M' 'student' '77005']
17
M
student
77005
[19 'F' 'student' '77801']
19
F
student
77801
[21 'M' 'student' '48823']
21
M
student
48823
[40 'F' 'artist' '89801']
40
F
artist
89801
[28 'M' 'administrator' '85202']
28
M
administrator
85202
[19 'F' 'student' '78264']
19
F
student
78264
[41 'M' 'programmer' '55346']
41
M
programmer
55346
[36 'F' 'writer' '90064']
36
F
writer
90064
[26 'M' 'executive' '84601']
26
M
executive
84601
[62 'F' 'administrator' '78756']
62
F
administrator
78756
[23 'M' 'engineer' '83716']
23
M
engineer
83716
[24 'M' 'engineer' '19422']
24
M
engineer
19422
[31 'F' 'librarian' '43201']
31
F
librarian
43201
[18 'F' 'student' '63119']
18
F
student
63119
[51 'M' 'engineer' '22932']
51
M
engineer
22932
[33 'M' 'scientist' '53706']
33
M
scientist
53706
[50 'F' 'other' '10016']
50
F
other
10016
[20 'F' 'student' '55414']
20
F
student
55414
[38 'M' 'engineer' '92064']
38
M
engineer
92064
[21 'M' 'student' '95064']
21
M
student
95064
[35 'F' 'administrator' '55406']
35
F
administrator
55406
[37 'F' 'librarian' '30033']
37
F
librarian
30033
[33 'M' 'programmer' '85251']
33
M
programmer
85251
[30 'F' 'librarian' '22903']
30
F
librarian
22903
[15 'F' 'student' '06059']
15
F
student
06059
[22 'M' 'administrator' '20057']
22
M
administrator
20057
[28 'M' 'programmer' '55305']
28
M
programmer
55305
[40 'M' 'executive' '92629']
40
M
executive
92629
[25 'M' 'programmer' '53713']
25
M
programmer
53713
[27 'M' 'student' '15217']
27
M
student
15217
[21 'M' 'salesman' '31211']
21
M
salesman
31211
[34 'M' 'marketing' '23226']
34
M
marketing
23226
[11 'M' 'none' '94619']
11
M
none
94619
[40 'M' 'engineer' '93550']
40
M
engineer
93550
[19 'M' 'student' '44106']
19
M
student
44106
[35 'F' 'programmer' '94703']
35
F
programmer
94703
[24 'M' 'writer' '60804']
24
M
writer
60804
[34 'M' 'technician' '92110']
34
M
technician
92110
[31 'M' 'educator' '50325']
31
M
educator
50325
[43 'F' 'administrator' '16803']
43
F
administrator
16803
[29 'F' 'educator' '98103']
29
F
educator
98103
[44 'M' 'executive' '01581']
44
M
executive
01581
[29 'M' 'doctor' '63108']
29
M
doctor
63108
[26 'F' 'programmer' '55106']
26
F
programmer
55106
[24 'M' 'student' '55439']
24
M
student
55439
[42 'M' 'educator' '77904']
42
M
educator
77904
[19 'M' 'student' '14853']
19
M
student
14853
[22 'F' 'student' '71701']
22
F
student
71701
[23 'M' 'programmer' '94086']
23
M
programmer
94086
[45 'M' 'other' '73132']
45
M
other
73132
[25 'M' 'student' '55454']
25
M
student
55454
[60 'M' 'retired' '95076']
60
M
retired
95076
[40 'M' 'scientist' '70802']
40
M
scientist
70802
[37 'M' 'educator' '91711']
37
M
educator
91711
[32 'M' 'technician' '73071']
32
M
technician
73071
[48 'M' 'other' '02110']
48
M
other
02110
[41 'M' 'marketing' '60035']
41
M
marketing
60035
[20 'F' 'student' '08043']
20
F
student
08043
[31 'M' 'educator' '18301']
31
M
educator
18301
[43 'F' 'other' '77009']
43
F
other
77009
[22 'M' 'administrator' '13210']
22
M
administrator
13210
[65 'M' 'retired' '06518']
65
M
retired
06518
[38 'M' 'programmer' '22030']
38
M
programmer
22030
[19 'M' 'student' '24060']
19
M
student
24060
[49 'F' 'educator' '55413']
49
F
educator
55413
[20 'M' 'student' '50613']
20
M
student
50613
[21 'M' 'student' '19149']
21
M
student
19149
[21 'F' 'student' '02176']
21
F
student
02176
[48 'M' 'technician' '02139']
48
M
technician
02139
[41 'M' 'administrator' '15235']
41
M
administrator
15235
[22 'M' 'student' '11101']
22
M
student
11101
[51 'M' 'administrator' '06779']
51
M
administrator
06779
[48 'M' 'educator' '01720']
48
M
educator
01720
[35 'F' 'educator' '33884']
35
F
educator
33884
[33 'M' 'entertainment' '91344']
33
M
entertainment
91344
[20 'M' 'student' '40504']
20
M
student
40504
[47 'M' 'other' 'V0R2M']
47
M
other
V0R2M
[32 'M' 'librarian' '30002']
32
M
librarian
30002
[45 'M' 'executive' '33775']
45
M
executive
33775
[23 'M' 'salesman' '42101']
23
M
salesman
42101
[37 'M' 'scientist' '10522']
37
M
scientist
10522
[39 'F' 'librarian' '59717']
39
F
librarian
59717
[35 'M' 'lawyer' '37901']
35
M
lawyer
37901
[46 'M' 'engineer' '80123']
46
M
engineer
80123
[17 'F' 'student' '44405']
17
F
student
44405
[25 'F' 'other' '98006']
25
F
other
98006
[43 'M' 'engineer' '30093']
43
M
engineer
30093
[30 'F' 'librarian' '94117']
30
F
librarian
94117
[28 'F' 'librarian' '94143']
28
F
librarian
94143
[34 'M' 'other' '76059']
34
M
other
76059
[18 'M' 'student' '90210']
18
M
student
90210
[24 'F' 'student' '45660']
24
F
student
45660
[68 'M' 'retired' '61455']
68
M
retired
61455
[32 'M' 'student' '97301']
32
M
student
97301
[61 'M' 'educator' '49938']
61
M
educator
49938
[37 'F' 'programmer' '55105']
37
F
programmer
55105
[25 'M' 'scientist' '28480']
25
M
scientist
28480
[29 'F' 'librarian' '48197']
29
F
librarian
48197
[25 'M' 'student' '60135']
25
M
student
60135
[32 'F' 'homemaker' '92688']
32
F
homemaker
92688
[26 'M' 'executive' '98133']
26
M
executive
98133
[40 'M' 'educator' '10022']
40
M
educator
10022
[22 'M' 'student' '61801']
22
M
student
61801
[51 'M' 'other' '98027']
51
M
other
98027
[22 'M' 'student' '44074']
22
M
student
44074
[35 'F' 'homemaker' '85233']
35
F
homemaker
85233
[20 'M' 'student' '87501']
20
M
student
87501
[63 'M' 'engineer' '01810']
63
M
engineer
01810
[29 'M' 'lawyer' '20009']
29
M
lawyer
20009
[20 'F' 'student' '50670']
20
F
student
50670
[17 'M' 'student' '37411']
17
M
student
37411
[18 'M' 'student' '92113']
18
M
student
92113
[24 'M' 'student' '91335']
24
M
student
91335
[52 'M' 'writer' '08534']
52
M
writer
08534
[36 'M' 'engineer' '99206']
36
M
engineer
99206
[25 'F' 'student' '66046']
25
F
student
66046
[24 'F' 'other' '55116']
24
F
other
55116
[36 'M' 'executive' '78746']
36
M
executive
78746
[17 'M' 'entertainment' '37777']
17
M
entertainment
37777
[28 'F' 'other' '10010']
28
F
other
10010
[22 'M' 'student' '18015']
22
M
student
18015
[35 'M' 'student' '02859']
35
M
student
02859
[44 'M' 'programmer' '98117']
44
M
programmer
98117
[32 'M' 'engineer' '55117']
32
M
engineer
55117
[33 'M' 'artist' '94608']
33
M
artist
94608
[45 'M' 'engineer' '01824']
45
M
engineer
01824
[42 'M' 'administrator' '75204']
42
M
administrator
75204
[52 'M' 'programmer' '45218']
52
M
programmer
45218
[36 'M' 'writer' '10003']
36
M
writer
10003
[36 'M' 'salesman' '43221']
36
M
salesman
43221
[33 'M' 'entertainment' '37412']
33
M
entertainment
37412
[31 'M' 'other' '36106']
31
M
other
36106
[44 'F' 'writer' '83702']
44
F
writer
83702
[42 'F' 'writer' '85016']
42
F
writer
85016
[23 'M' 'student' '84604']
23
M
student
84604
[52 'M' 'writer' '59801']
52
M
writer
59801
[19 'M' 'student' '83686']
19
M
student
83686
[25 'M' 'administrator' '96819']
25
M
administrator
96819
[43 'M' 'other' '44092']
43
M
other
44092
[57 'M' 'engineer' '94551']
57
M
engineer
94551
[17 'M' 'student' '27514']
17
M
student
27514
[40 'M' 'other' '60008']
40
M
other
60008
[25 'M' 'other' '92374']
25
M
other
92374
[33 'F' 'administrator' '78213']
33
F
administrator
78213
[46 'F' 'healthcare' '84107']
46
F
healthcare
84107
[30 'M' 'engineer' '95129']
30
M
engineer
95129
[37 'M' 'other' '06811']
37
M
other
06811
[29 'F' 'programmer' '55108']
29
F
programmer
55108
[22 'F' 'healthcare' '10019']
22
F
healthcare
10019
[52 'M' 'educator' '93109']
52
M
educator
93109
[29 'M' 'engineer' '03261']
29
M
engineer
03261
[23 'M' 'student' '61755']
23
M
student
61755
[48 'M' 'administrator' '98225']
48
M
administrator
98225
[30 'F' 'artist' '94025']
30
F
artist
94025
[34 'M' 'educator' '44691']
34
M
educator
44691
[25 'M' 'educator' '15222']
25
M
educator

### Step 10. What is the data type of each column?
Solve it by 2 different ways

In [114]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 69.1+ KB

In [116]:
var = users.dtypes
var

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [118]:
print(type(var))

<class 'pandas.core.indexes.base.Index'>

In [119]:
print(var.index)

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [120]:
print(var.values)

[dtype('int64') dtype('O') dtype('O') dtype('O')]

### Step 11. Print only the occupation column
Solve it by 2 different ways

In [128]:
users.occupation

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [129]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [134]:
users['occupation'].shape

(943,)

In [132]:
pd.DataFrame(users['occupation']).shape

(943, 1)

In [135]:
np.array(users['occupation'])

array(['technician', 'other', 'writer', 'technician', 'other',
       'executive', 'administrator', 'administrator', 'student', 'lawyer',
       'other', 'other', 'educator', 'scientist', 'educator',
       'entertainment', 'programmer', 'other', 'librarian', 'homemaker',
       'writer', 'writer', 'artist', 'artist', 'engineer', 'engineer',
       'librarian', 'writer', 'programmer', 'student', 'artist',
       'student', 'student', 'administrator', 'homemaker', 'student',
       'student', 'other', 'entertainment', 'scientist', 'engineer',
       'administrator', 'librarian', 'technician', 'programmer',
       'marketing', 'marketing', 'administrator', 'student', 'writer',
       'educator', 'student', 'programmer', 'executive', 'programmer',
       'librarian', 'none', 'programmer', 'educator', 'healthcare',
       'engineer', 'administrator', 'marketing', 'educator', 'educator',
       'student', 'student', 'student', 'engineer', 'engineer',
       'scientist', 'administrator', 'student', 'scientist',
       'entertainment', 'student', 'technician', 'administrator',
       'administrator', 'administrator', 'student', 'programmer', 'other',
       'executive', 'educator', 'administrator', 'administrator',
       'librarian', 'administrator', 'educator', 'marketing',
       'entertainment', 'executive', 'student', 'administrator', 'artist',
       'artist', 'executive', 'student', 'executive', 'student',
       'programmer', 'student', 'student', 'engineer', 'retired',
       'scientist', 'educator', 'other', 'student', 'engineer',
       'salesman', 'executive', 'programmer', 'engineer', 'healthcare',
       'student', 'administrator', 'programmer', 'other', 'librarian',
       'writer', 'artist', 'student', 'lawyer', 'lawyer', 'none',
       'marketing', 'marketing', 'none', 'administrator', 'other',
       'engineer', 'programmer', 'student', 'other', 'educator', 'doctor',
       'student', 'student', 'programmer', 'other', 'technician',
       'programmer', 'entertainment', 'artist', 'librarian', 'engineer',
       'marketing', 'artist', 'administrator', 'educator', 'student',
       'student', 'other', 'educator', 'engineer', 'educator', 'student',
       'programmer', 'lawyer', 'artist', 'administrator', 'healthcare',
       'other', 'educator', 'other', 'other', 'other', 'healthcare',
       'educator', 'marketing', 'other', 'administrator', 'scientist',
       'scientist', 'programmer', 'other', 'entertainment',
       'administrator', 'executive', 'programmer', 'scientist',
       'librarian', 'librarian', 'executive', 'educator', 'student',
       'artist', 'administrator', 'administrator', 'educator', 'student',
       'administrator', 'scientist', 'writer', 'technician', 'student',
       'writer', 'programmer', 'writer', 'educator', 'student',
       'librarian', 'lawyer', 'student', 'marketing', 'engineer',
       'educator', 'engineer', 'salesman', 'educator', 'executive',
       'librarian', 'programmer', 'engineer', 'other', 'administrator',
       'programmer', 'librarian', 'student', 'programmer', 'student',
       'educator', 'administrator', 'student', 'executive', 'student',
       'librarian', 'student', 'librarian', 'scientist', 'engineer',
       'retired', 'educator', 'writer', 'administrator', 'administrator',
       'artist', 'educator', 'student', 'educator', 'educator',
       'technician', 'student', 'student', 'engineer', 'student',
       'student', 'executive', 'doctor', 'engineer', 'librarian',
       'educator', 'entertainment', 'none', 'student', 'student',
       'student', 'artist', 'administrator', 'student', 'programmer',
       'writer', 'executive', 'administrator', 'engineer', 'engineer',
       'librarian', 'student', 'engineer', 'scientist', 'other',
       'student', 'engineer', 'student', 'administrator', 'librarian',
       'programmer', 'librarian', 'student', 'administrator',
       'programmer', 'executive', 'programmer', 'student', 'salesman',
       'marketing', 'none', 'engineer', 'student', 'programmer', 'writer',
       'technician', 'educator', 'administrator', 'educator', 'executive',
       'doctor', 'programmer', 'student', 'educator', 'student',
       'student', 'programmer', 'other', 'student', 'retired',
       'scientist', 'educator', 'technician', 'other', 'marketing',
       'student', 'educator', 'other', 'administrator', 'retired',
       'programmer', 'student', 'educator', 'student', 'student',
       'student', 'technician', 'administrator', 'student',
       'administrator', 'educator', 'educator', 'entertainment',
       'student', 'other', 'librarian', 'executive', 'salesman',
       'scientist', 'librarian', 'lawyer', 'engineer', 'student', 'other',
       'engineer', 'librarian', 'librarian', 'other', 'student',
       'student', 'retired', 'student', 'educator', 'programmer',
       'scientist', 'librarian', 'student', 'homemaker', 'executive',
       'educator', 'student', 'other', 'student', 'homemaker', 'student',
       'engineer', 'lawyer', 'student', 'student', 'student', 'student',
       'writer', 'engineer', 'student', 'other', 'executive',
       'entertainment', 'other', 'student', 'student', 'programmer',
       'engineer', 'artist', 'engineer', 'administrator', 'programmer',
       'writer', 'salesman', 'entertainment', 'other', 'writer', 'writer',
       'student', 'writer', 'student', 'administrator', 'other',
       'engineer', 'student', 'other', 'other', 'administrator',
       'healthcare', 'engineer', 'other', 'programmer', 'healthcare',
       'educator', 'engineer', 'student', 'administrator', 'artist',
       'educator', 'educator', 'educator', 'programmer', 'educator',
       'student', 'other', 'none', 'lawyer', 'educator', 'programmer',
       'entertainment', 'other', 'marketing', 'student', 'educator',
       'doctor', 'student', 'student', 'scientist', 'marketing',
       'entertainment', 'artist', 'student', 'engineer', 'administrator',
       'other', 'administrator', 'administrator', 'other', 'technician',
       'student', 'salesman', 'lawyer', 'writer', 'educator',
       'administrator', 'entertainment', 'librarian', 'educator',
       'student', 'administrator', 'student', 'other', 'administrator',
       'technician', 'salesman', 'technician', 'student', 'other',
       'student', 'student', 'healthcare', 'writer', 'other', 'student',
       'engineer', 'engineer', 'educator', 'programmer', 'student',
       'student', 'student', 'executive', 'programmer', 'student',
       'student', 'other', 'educator', 'retired', 'retired', 'student',
       'scientist', 'student', 'educator', 'educator', 'engineer',
       'technician', 'other', 'artist', 'writer', 'educator', 'engineer',
       'administrator', 'engineer', 'student', 'student', 'writer',
       'programmer', 'administrator', 'student', 'student', 'writer',
       'writer', 'other', 'programmer', 'writer', 'marketing',
       'administrator', 'other', 'student', 'other', 'administrator',
       'programmer', 'marketing', 'librarian', 'student', 'writer',
       'other', 'healthcare', 'student', 'engineer', 'administrator',
       'educator', 'administrator', 'marketing', 'librarian', 'student',
       'administrator', 'engineer', 'salesman', 'student', 'librarian',
       'student', 'educator', 'engineer', 'engineer', 'scientist',
       'administrator', 'engineer', 'student', 'student', 'scientist',
       'other', 'technician', 'executive', 'educator', 'writer',
       'scientist', 'student', 'programmer', 'other', 'educator',
       'scientist', 'educator', 'educator', 'writer', 'writer',
       'executive', 'student', 'engineer', 'administrator', 'librarian',
       'retired', 'student', 'student', 'entertainment', 'educator',
       'educator', 'educator', 'artist', 'educator', 'retired',
       'educator', 'marketing', 'executive', 'student', 'administrator',
       'educator', 'student', 'other', 'student', 'engineer', 'student',
       'librarian', 'student', 'other', 'student', 'lawyer', 'educator',
       'librarian', 'student', 'educator', 'educator', 'programmer',
       'artist', 'other', 'marketing', 'student', 'programmer', 'artist',
       'other', 'programmer', 'educator', 'engineer', 'programmer',
       'healthcare', 'other', 'student', 'student', 'librarian',
       'educator', 'marketing', 'educator', 'educator', 'scientist',
       'writer', 'student', 'student', 'writer', 'student', 'programmer',
       'educator', 'student', 'programmer', 'scientist', 'engineer',
       'none', 'other', 'healthcare', 'student', 'student', 'programmer',
       'engineer', 'other', 'educator', 'other', 'engineer', 'librarian',
       'student', 'student', 'student', 'scientist', 'retired',
       'programmer', 'student', 'educator', 'engineer', 'student',
       'engineer', 'retired', 'other', 'executive', 'student',
       'healthcare', 'educator', 'none', 'programmer', 'educator',
       'student', 'programmer', 'librarian', 'other', 'engineer',
       'administrator', 'administrator', 'librarian', 'writer', 'other',
       'technician', 'programmer', 'administrator', 'educator', 'student',
       'other', 'programmer', 'other', 'educator', 'student', 'lawyer',
       'marketing', 'programmer', 'librarian', 'student', 'librarian',
       'educator', 'healthcare', 'administrator', 'other', 'salesman',
       'educator', 'engineer', 'healthcare', 'programmer', 'writer',
       'other', 'other', 'programmer', 'other', 'student', 'librarian',
       'other', 'educator', 'librarian', 'student', 'student',
       'librarian', 'homemaker', 'other', 'student', 'student', 'student',
       'other', 'engineer', 'technician', 'administrator', 'technician',
       'technician', 'other', 'administrator', 'entertainment',
       'homemaker', 'executive', 'executive', 'student', 'administrator',
       'student', 'executive', 'student', 'scientist', 'educator',
       'other', 'other', 'other', 'healthcare', 'writer', 'programmer',
       'technician', 'technician', 'educator', 'writer', 'student',
       'programmer', 'marketing', 'writer', 'engineer', 'other',
       'administrator', 'other', 'administrator', 'other', 'retired',
       'salesman', 'librarian', 'educator', 'none', 'student', 'student',
       'student', 'other', 'student', 'administrator', 'scientist',
       'educator', 'student', 'other', 'engineer', 'administrator',
       'executive', 'student', 'student', 'writer', 'student', 'student',
       'executive', 'librarian', 'programmer', 'student', 'student',
       'programmer', 'student', 'artist', 'marketing', 'administrator',
       'engineer', 'engineer', 'student', 'administrator', 'other',
       'technician', 'educator', 'programmer', 'student', 'educator',
       'programmer', 'writer', 'other', 'writer', 'administrator',
       'programmer', 'writer', 'administrator', 'administrator',
       'educator', 'other', 'marketing', 'healthcare', 'salesman',
       'marketing', 'other', 'educator', 'technician', 'student', 'other',
       'other', 'other', 'student', 'librarian', 'administrator',
       'student', 'engineer', 'librarian', 'artist', 'other', 'engineer',
       'artist', 'engineer', 'librarian', 'writer', 'programmer', 'other',
       'technician', 'writer', 'other', 'executive', 'artist', 'artist',
       'student', 'entertainment', 'artist', 'doctor', 'writer',
       'librarian', 'engineer', 'doctor', 'lawyer', 'student', 'engineer',
       'student', 'technician', 'other', 'administrator', 'writer',
       'student', 'librarian', 'marketing', 'administrator', 'educator',
       'other', 'retired', 'student', 'executive', 'student',
       'programmer', 'artist', 'other', 'scientist', 'programmer',
       'student', 'student', 'executive', 'student', 'administrator',
       'scientist', 'student', 'other', 'other', 'educator',
       'administrator', 'student', 'marketing', 'engineer', 'librarian',
       'engineer', 'other', 'student', 'student', 'scientist',
       'technician', 'student', 'administrator', 'other', 'student',
       'educator', 'librarian', 'writer', 'other', 'homemaker', 'other',
       'retired', 'executive', 'artist', 'educator', 'student', 'other',
       'librarian', 'other', 'librarian', 'educator', 'healthcare',
       'writer', 'other', 'student', 'other', 'entertainment', 'engineer',
       'student', 'scientist', 'other', 'artist', 'student',
       'administrator', 'student', 'other', 'salesman', 'entertainment',
       'programmer', 'student', 'scientist', 'scientist', 'educator',
       'educator', 'student', 'engineer', 'doctor', 'other', 'educator',
       'technician', 'student', 'administrator', 'student', 'librarian',
       'student'], dtype=object)

In [136]:
np.array(pd.DataFrame(users['occupation']))

array([['technician'],
       ['other'],
       ['writer'],
       ['technician'],
       ['other'],
       ['executive'],
       ['administrator'],
       ['administrator'],
       ['student'],
       ['lawyer'],
       ['other'],
       ['other'],
       ['educator'],
       ['scientist'],
       ['educator'],
       ['entertainment'],
       ['programmer'],
       ['other'],
       ['librarian'],
       ['homemaker'],
       ['writer'],
       ['writer'],
       ['artist'],
       ['artist'],
       ['engineer'],
       ['engineer'],
       ['librarian'],
       ['writer'],
       ['programmer'],
       ['student'],
       ['artist'],
       ['student'],
       ['student'],
       ['administrator'],
       ['homemaker'],
       ['student'],
       ['student'],
       ['other'],
       ['entertainment'],
       ['scientist'],
       ['engineer'],
       ['administrator'],
       ['librarian'],
       ['technician'],
       ['programmer'],
       ['marketing'],
       ['marketing'],
       ['administrator'],
       ['student'],
       ['writer'],
       ['educator'],
       ['student'],
       ['programmer'],
       ['executive'],
       ['programmer'],
       ['librarian'],
       ['none'],
       ['programmer'],
       ['educator'],
       ['healthcare'],
       ['engineer'],
       ['administrator'],
       ['marketing'],
       ['educator'],
       ['educator'],
       ['student'],
       ['student'],
       ['student'],
       ['engineer'],
       ['engineer'],
       ['scientist'],
       ['administrator'],
       ['student'],
       ['scientist'],
       ['entertainment'],
       ['student'],
       ['technician'],
       ['administrator'],
       ['administrator'],
       ['administrator'],
       ['student'],
       ['programmer'],
       ['other'],
       ['executive'],
       ['educator'],
       ['administrator'],
       ['administrator'],
       ['librarian'],
       ['administrator'],
       ['educator'],
       ['marketing'],
       ['entertainment'],
       ['executive'],
       ['student'],
       ['administrator'],
       ['artist'],
       ['artist'],
       ['executive'],
       ['student'],
       ['executive'],
       ['student'],
       ['programmer'],
       ['student'],
       ['student'],
       ['engineer'],
       ['retired'],
       ['scientist'],
       ['educator'],
       ['other'],
       ['student'],
       ['engineer'],
       ['salesman'],
       ['executive'],
       ['programmer'],
       ['engineer'],
       ['healthcare'],
       ['student'],
       ['administrator'],
       ['programmer'],
       ['other'],
       ['librarian'],
       ['writer'],
       ['artist'],
       ['student'],
       ['lawyer'],
       ['lawyer'],
       ['none'],
       ['marketing'],
       ['marketing'],
       ['none'],
       ['administrator'],
       ['other'],
       ['engineer'],
       ['programmer'],
       ['student'],
       ['other'],
       ['educator'],
       ['doctor'],
       ['student'],
       ['student'],
       ['programmer'],
       ['other'],
       ['technician'],
       ['programmer'],
       ['entertainment'],
       ['artist'],
       ['librarian'],
       ['engineer'],
       ['marketing'],
       ['artist'],
       ['administrator'],
       ['educator'],
       ['student'],
       ['student'],
       ['other'],
       ['educator'],
       ['engineer'],
       ['educator'],
       ['student'],
       ['programmer'],
       ['lawyer'],
       ['artist'],
       ['administrator'],
       ['healthcare'],
       ['other'],
       ['educator'],
       ['other'],
       ['other'],
       ['other'],
       ['healthcare'],
       ['educator'],
       ['marketing'],
       ['other'],
       ['administrator'],
       ['scientist'],
       ['scientist'],
       ['programmer'],
       ['other'],
       ['entertainment'],
       ['administrator'],
       ['executive'],
       ['programmer'],
       ['scientist'],
       ['librarian'],
       ['librarian'],
       ['executive'],
       ['educator'],
       ['student'],
       ['artist'],
       ['administrator'],
       ['administrator'],
       ['educator'],
       ['student'],
       ['administrator'],
       ['scientist'],
       ['writer'],
       ['technician'],
       ['student'],
       ['writer'],
       ['programmer'],
       ['writer'],
       ['educator'],
       ['student'],
       ['librarian'],
       ['lawyer'],
       ['student'],
       ['marketing'],
       ['engineer'],
       ['educator'],
       ['engineer'],
       ['salesman'],
       ['educator'],
       ['executive'],
       ['librarian'],
       ['programmer'],
       ['engineer'],
       ['other'],
       ['administrator'],
       ['programmer'],
       ['librarian'],
       ['student'],
       ['programmer'],
       ['student'],
       ['educator'],
       ['administrator'],
       ['student'],
       ['executive'],
       ['student'],
       ['librarian'],
       ['student'],
       ['librarian'],
       ['scientist'],
       ['engineer'],
       ['retired'],
       ['educator'],
       ['writer'],
       ['administrator'],
       ['administrator'],
       ['artist'],
       ['educator'],
       ['student'],
       ['educator'],
       ['educator'],
       ['technician'],
       ['student'],
       ['student'],
       ['engineer'],
       ['student'],
       ['student'],
       ['executive'],
       ['doctor'],
       ['engineer'],
       ['librarian'],
       ['educator'],
       ['entertainment'],
       ['none'],
       ['student'],
       ['student'],
       ['student'],
       ['artist'],
       ['administrator'],
       ['student'],
       ['programmer'],
       ['writer'],
       ['executive'],
       ['administrator'],
       ['engineer'],
       ['engineer'],
       ['librarian'],
       ['student'],
       ['engineer'],
       ['scientist'],
       ['other'],
       ['student'],
       ['engineer'],
       ['student'],
       ['administrator'],
       ['librarian'],
       ['programmer'],
       ['librarian'],
       ['student'],
       ['administrator'],
       ['programmer'],
       ['executive'],
       ['programmer'],
       ['student'],
       ['salesman'],
       ['marketing'],
       ['none'],
       ['engineer'],
       ['student'],
       ['programmer'],
       ['writer'],
       ['technician'],
       ['educator'],
       ['administrator'],
       ['educator'],
       ['executive'],
       ['doctor'],
       ['programmer'],
       ['student'],
       ['educator'],
       ['student'],
       ['student'],
       ['programmer'],
       ['other'],
       ['student'],
       ['retired'],
       ['scientist'],
       ['educator'],
       ['technician'],
       ['other'],
       ['marketing'],
       ['student'],
       ['educator'],
       ['other'],
       ['administrator'],
       ['retired'],
       ['programmer'],
       ['student'],
       ['educator'],
       ['student'],
       ['student'],
       ['student'],
       ['technician'],
       ['administrator'],
       ['student'],
       ['administrator'],
       ['educator'],
       ['educator'],
       ['entertainment'],
       ['student'],
       ['other'],
       ['librarian'],
       ['executive'],
       ['salesman'],
       ['scientist'],
       ['librarian'],
       ['lawyer'],
       ['engineer'],
       ['student'],
       ['other'],
       ['engineer'],
       ['librarian'],
       ['librarian'],
       ['other'],
       ['student'],
       ['student'],
       ['retired'],
       ['student'],
       ['educator'],
       ['programmer'],
       ['scientist'],
       ['librarian'],
       ['student'],
       ['homemaker'],
       ['executive'],
       ['educator'],
       ['student'],
       ['other'],
       ['student'],
       ['homemaker'],
       ['student'],
       ['engineer'],
       ['lawyer'],
       ['student'],
       ['student'],
       ['student'],
       ['student'],
       ['writer'],
       ['engineer'],
       ['student'],
       ['other'],
       ['executive'],
       ['entertainment'],
       ['other'],
       ['student'],
       ['student'],
       ['programmer'],
       ['engineer'],
       ['artist'],
       ['engineer'],
       ['administrator'],
       ['programmer'],
       ['writer'],
       ['salesman'],
       ['entertainment'],
       ['other'],
       ['writer'],
       ['writer'],
       ['student'],
       ['writer'],
       ['student'],
       ['administrator'],
       ['other'],
       ['engineer'],
       ['student'],
       ['other'],
       ['other'],
       ['administrator'],
       ['healthcare'],
       ['engineer'],
       ['other'],
       ['programmer'],
       ['healthcare'],
       ['educator'],
       ['engineer'],
       ['student'],
       ['administrator'],
       ['artist'],
       ['educator'],
       ['educator'],
       ['educator'],
       ['programmer'],
       ['educator'],
       ['student'],
       ['other'],
       ['none'],
       ['lawyer'],
       ['educator'],
       ['programmer'],
       ['entertainment'],
       ['other'],
       ['marketing'],
       ['student'],
       ['educator'],
       ['doctor'],
       ['student'],
       ['student'],
       ['scientist'],
       ['marketing'],
       ['entertainment'],
       ['artist'],
       ['student'],
       ['engineer'],
       ['administrator'],
       ['other'],
       ['administrator'],
       ['administrator'],
       ['other'],
       ['technician'],
       ['student'],
       ['salesman'],
       ['lawyer'],
       ['writer'],
       ['educator'],
       ['administrator'],
       ['entertainment'],
       ['librarian'],
       ['educator'],
       ['student'],
       ['administrator'],
       ['student'],
       ['other'],
       ['administrator'],
       ['technician'],
       ['salesman'],
       ['technician'],
       ['student'],
       ['other'],
       ['student'],
       ['student'],
       ['healthcare'],
       ['writer'],
       ['other'],
       ['student'],
       ['engineer'],
       ['engineer'],
       ['educator'],
       ['programmer'],
       ['student'],
       ['student'],
       ['student'],
       ['executive'],
       ['programmer'],
       ['student'],
       ['student'],
       ['other'],
       ['educator'],
       ['retired'],
       ['retired'],
       ['student'],
       ['scientist'],
       ['student'],
       ['educator'],
       ['educator'],
       ['engineer'],
       ['technician'],
       ['other'],
       ['artist'],
       ['writer'],
       ['educator'],
       ['engineer'],
       ['administrator'],
       ['engineer'],
       ['student'],
       ['student'],
       ['writer'],
       ['programmer'],
       ['administrator'],
       ['student'],
       ['student'],
       ['writer'],
       ['writer'],
       ['other'],
       ['programmer'],
       ['writer'],
       ['marketing'],
       ['administrator'],
       ['other'],
       ['student'],
       ['other'],
       ['administrator'],
       ['programmer'],
       ['marketing'],
       ['librarian'],
       ['student'],
       ['writer'],
       ['other'],
       ['healthcare'],
       ['student'],
       ['engineer'],
       ['administrator'],
       ['educator'],
       ['administrator'],
       ['marketing'],
       ['librarian'],
       ['student'],
       ['administrator'],
       ['engineer'],
       ['salesman'],
       ['student'],
       ['librarian'],
       ['student'],
       ['educator'],
       ['engineer'],
       ['engineer'],
       ['scientist'],
       ['administrator'],
       ['engineer'],
       ['student'],
       ['student'],
       ['scientist'],
       ['other'],
       ['technician'],
       ['executive'],
       ['educator'],
       ['writer'],
       ['scientist'],
       ['student'],
       ['programmer'],
       ['other'],
       ['educator'],
       ['scientist'],
       ['educator'],
       ['educator'],
       ['writer'],
       ['writer'],
       ['executive'],
       ['student'],
       ['engineer'],
       ['administrator'],
       ['librarian'],
       ['retired'],
       ['student'],
       ['student'],
       ['entertainment'],
       ['educator'],
       ['educator'],
       ['educator'],
       ['artist'],
       ['educator'],
       ['retired'],
       ['educator'],
       ['marketing'],
       ['executive'],
       ['student'],
       ['administrator'],
       ['educator'],
       ['student'],
       ['other'],
       ['student'],
       ['engineer'],
       ['student'],
       ['librarian'],
       ['student'],
       ['other'],
       ['student'],
       ['lawyer'],
       ['educator'],
       ['librarian'],
       ['student'],
       ['educator'],
       ['educator'],
       ['programmer'],
       ['artist'],
       ['other'],
       ['marketing'],
       ['student'],
       ['programmer'],
       ['artist'],
       ['other'],
       ['programmer'],
       ['educator'],
       ['engineer'],
       ['programmer'],
       ['healthcare'],
       ['other'],
       ['student'],
       ['student'],
       ['librarian'],
       ['educator'],
       ['marketing'],
       ['educator'],
       ['educator'],
       ['scientist'],
       ['writer'],
       ['student'],
       ['student'],
       ['writer'],
       ['student'],
       ['programmer'],
       ['educator'],
       ['student'],
       ['programmer'],
       ['scientist'],
       ['engineer'],
       ['none'],
       ['other'],
       ['healthcare'],
       ['student'],
       ['student'],
       ['programmer'],
       ['engineer'],
       ['other'],
       ['educator'],
       ['other'],
       ['engineer'],
       ['librarian'],
       ['student'],
       ['student'],
       ['student'],
       ['scientist'],
       ['retired'],
       ['programmer'],
       ['student'],
       ['educator'],
       ['engineer'],
       ['student'],
       ['engineer'],
       ['retired'],
       ['other'],
       ['executive'],
       ['student'],
       ['healthcare'],
       ['educator'],
       ['none'],
       ['programmer'],
       ['educator'],
       ['student'],
       ['programmer'],
       ['librarian'],
       ['other'],
       ['engineer'],
       ['administrator'],
       ['administrator'],
       ['librarian'],
       ['writer'],
       ['other'],
       ['technician'],
       ['programmer'],
       ['administrator'],
       ['educator'],
       ['student'],
       ['other'],
       ['programmer'],
       ['other'],
       ['educator'],
       ['student'],
       ['lawyer'],
       ['marketing'],
       ['programmer'],
       ['librarian'],
       ['student'],
       ['librarian'],
       ['educator'],
       ['healthcare'],
       ['administrator'],
       ['other'],
       ['salesman'],
       ['educator'],
       ['engineer'],
       ['healthcare'],
       ['programmer'],
       ['writer'],
       ['other'],
       ['other'],
       ['programmer'],
       ['other'],
       ['student'],
       ['librarian'],
       ['other'],
       ['educator'],
       ['librarian'],
       ['student'],
       ['student'],
       ['librarian'],
       ['homemaker'],
       ['other'],
       ['student'],
       ['student'],
       ['student'],
       ['other'],
       ['engineer'],
       ['technician'],
       ['administrator'],
       ['technician'],
       ['technician'],
       ['other'],
       ['administrator'],
       ['entertainment'],
       ['homemaker'],
       ['executive'],
       ['executive'],
       ['student'],
       ['administrator'],
       ['student'],
       ['executive'],
       ['student'],
       ['scientist'],
       ['educator'],
       ['other'],
       ['other'],
       ['other'],
       ['healthcare'],
       ['writer'],
       ['programmer'],
       ['technician'],
       ['technician'],
       ['educator'],
       ['writer'],
       ['student'],
       ['programmer'],
       ['marketing'],
       ['writer'],
       ['engineer'],
       ['other'],
       ['administrator'],
       ['other'],
       ['administrator'],
       ['other'],
       ['retired'],
       ['salesman'],
       ['librarian'],
       ['educator'],
       ['none'],
       ['student'],
       ['student'],
       ['student'],
       ['other'],
       ['student'],
       ['administrator'],
       ['scientist'],
       ['educator'],
       ['student'],
       ['other'],
       ['engineer'],
       ['administrator'],
       ['executive'],
       ['student'],
       ['student'],
       ['writer'],
       ['student'],
       ['student'],
       ['executive'],
       ['librarian'],
       ['programmer'],
       ['student'],
       ['student'],
       ['programmer'],
       ['student'],
       ['artist'],
       ['marketing'],
       ['administrator'],
       ['engineer'],
       ['engineer'],
       ['student'],
       ['administrator'],
       ['other'],
       ['technician'],
       ['educator'],
       ['programmer'],
       ['student'],
       ['educator'],
       ['programmer'],
       ['writer'],
       ['other'],
       ['writer'],
       ['administrator'],
       ['programmer'],
       ['writer'],
       ['administrator'],
       ['administrator'],
       ['educator'],
       ['other'],
       ['marketing'],
       ['healthcare'],
       ['salesman'],
       ['marketing'],
       ['other'],
       ['educator'],
       ['technician'],
       ['student'],
       ['other'],
       ['other'],
       ['other'],
       ['student'],
       ['librarian'],
       ['administrator'],
       ['student'],
       ['engineer'],
       ['librarian'],
       ['artist'],
       ['other'],
       ['engineer'],
       ['artist'],
       ['engineer'],
       ['librarian'],
       ['writer'],
       ['programmer'],
       ['other'],
       ['technician'],
       ['writer'],
       ['other'],
       ['executive'],
       ['artist'],
       ['artist'],
       ['student'],
       ['entertainment'],
       ['artist'],
       ['doctor'],
       ['writer'],
       ['librarian'],
       ['engineer'],
       ['doctor'],
       ['lawyer'],
       ['student'],
       ['engineer'],
       ['student'],
       ['technician'],
       ['other'],
       ['administrator'],
       ['writer'],
       ['student'],
       ['librarian'],
       ['marketing'],
       ['administrator'],
       ['educator'],
       ['other'],
       ['retired'],
       ['student'],
       ['executive'],
       ['student'],
       ['programmer'],
       ['artist'],
       ['other'],
       ['scientist'],
       ['programmer'],
       ['student'],
       ['student'],
       ['executive'],
       ['student'],
       ['administrator'],
       ['scientist'],
       ['student'],
       ['other'],
       ['other'],
       ['educator'],
       ['administrator'],
       ['student'],
       ['marketing'],
       ['engineer'],
       ['librarian'],
       ['engineer'],
       ['other'],
       ['student'],
       ['student'],
       ['scientist'],
       ['technician'],
       ['student'],
       ['administrator'],
       ['other'],
       ['student'],
       ['educator'],
       ['librarian'],
       ['writer'],
       ['other'],
       ['homemaker'],
       ['other'],
       ['retired'],
       ['executive'],
       ['artist'],
       ['educator'],
       ['student'],
       ['other'],
       ['librarian'],
       ['other'],
       ['librarian'],
       ['educator'],
       ['healthcare'],
       ['writer'],
       ['other'],
       ['student'],
       ['other'],
       ['entertainment'],
       ['engineer'],
       ['student'],
       ['scientist'],
       ['other'],
       ['artist'],
       ['student'],
       ['administrator'],
       ['student'],
       ['other'],
       ['salesman'],
       ['entertainment'],
       ['programmer'],
       ['student'],
       ['scientist'],
       ['scientist'],
       ['educator'],
       ['educator'],
       ['student'],
       ['engineer'],
       ['doctor'],
       ['other'],
       ['educator'],
       ['technician'],
       ['student'],
       ['administrator'],
       ['student'],
       ['librarian'],
       ['student']], dtype=object)

In [139]:
print(users['occupation'].to_string(index=False))

user_id
   technician
        other
       writer
   technician
        other
    executive
administrator
administrator
      student
       lawyer
        other
        other
     educator
    scientist
     educator
entertainment
   programmer
        other
    librarian
    homemaker
       writer
       writer
       artist
       artist
     engineer
     engineer
    librarian
       writer
   programmer
      student
       artist
      student
      student
administrator
    homemaker
      student
      student
        other
entertainment
    scientist
     engineer
administrator
    librarian
   technician
   programmer
    marketing
    marketing
administrator
      student
       writer
     educator
      student
   programmer
    executive
   programmer
    librarian
         none
   programmer
     educator
   healthcare
     engineer
administrator
    marketing
     educator
     educator
      student
      student
      student
     engineer
     engineer
    scientist
administrator
      student
    scientist
entertainment
      student
   technician
administrator
administrator
administrator
      student
   programmer
        other
    executive
     educator
administrator
administrator
    librarian
administrator
     educator
    marketing
entertainment
    executive
      student
administrator
       artist
       artist
    executive
      student
    executive
      student
   programmer
      student
      student
     engineer
      retired
    scientist
     educator
        other
      student
     engineer
     salesman
    executive
   programmer
     engineer
   healthcare
      student
administrator
   programmer
        other
    librarian
       writer
       artist
      student
       lawyer
       lawyer
         none
    marketing
    marketing
         none
administrator
        other
     engineer
   programmer
      student
        other
     educator
       doctor
      student
      student
   programmer
        other
   technician
   programmer
entertainment
       artist
    librarian
     engineer
    marketing
       artist
administrator
     educator
      student
      student
        other
     educator
     engineer
     educator
      student
   programmer
       lawyer
       artist
administrator
   healthcare
        other
     educator
        other
        other
        other
   healthcare
     educator
    marketing
        other
administrator
    scientist
    scientist
   programmer
        other
entertainment
administrator
    executive
   programmer
    scientist
    librarian
    librarian
    executive
     educator
      student
       artist
administrator
administrator
     educator
      student
administrator
    scientist
       writer
   technician
      student
       writer
   programmer
       writer
     educator
      student
    librarian
       lawyer
      student
    marketing
     engineer
     educator
     engineer
     salesman
     educator
    executive
    librarian
   programmer
     engineer
        other
administrator
   programmer
    librarian
      student
   programmer
      student
     educator
administrator
      student
    executive
      student
    librarian
      student
    librarian
    scientist
     engineer
      retired
     educator
       writer
administrator
administrator
       artist
     educator
      student
     educator
     educator
   technician
      student
      student
     engineer
      student
      student
    executive
       doctor
     engineer
    librarian
     educator
entertainment
         none
      student
      student
      student
       artist
administrator
      student
   programmer
       writer
    executive
administrator
     engineer
     engineer
    librarian
      student
     engineer
    scientist
        other
      student
     engineer
      student
administrator
    librarian
   programmer
    librarian
      student
administrator
   programmer
    executive
   programmer
      student
     salesman
    marketing
         none
     engineer
      student
   programmer
       writer
   technician
     educator
administrator
     educator
    executive
       doctor
   programmer
      student
     educator
      student
      student
   programmer
        other
      student
      retired
    scientist
     educator
   technician
        other
    marketing
      student
     educator
        other
administrator
      retired
   programmer
      student
     educator
      student
      student
      student
   technician
administrator
      student
administrator
     educator
     educator
entertainment
      student
        other
    librarian
    executive
     salesman
    scientist
    librarian
       lawyer
     engineer
      student
        other
     engineer
    librarian
    librarian
        other
      student
      student
      retired
      student
     educator
   programmer
    scientist
    librarian
      student
    homemaker
    executive
     educator
      student
        other
      student
    homemaker
      student
     engineer
       lawyer
      student
      student
      student
      student
       writer
     engineer
      student
        other
    executive
entertainment
        other
      student
      student
   programmer
     engineer
       artist
     engineer
administrator
   programmer
       writer
     salesman
entertainment
        other
       writer
       writer
      student
       writer
      student
administrator
        other
     engineer
      student
        other
        other
administrator
   healthcare
     engineer
        other
   programmer
   healthcare
     educator
     engineer
      student
administrator
       artist
     educator
     educator
     educator
   programmer
     educator
      student
        other
         none
       lawyer
     educator
   programmer
entertainment
        other
    marketing
      student
     educator
       doctor
      student
      student
    scientist
    marketing
entertainment
       artist
      student
     engineer
administrator
        other
administrator
administrator
        other
   technician
      student
     salesman
       lawyer
       writer
     educator
administrator
entertainment
    librarian
     educator
      student
administrator
      student
        other
administrator
   technician
     salesman
   technician
      student
        other
      student
      student
   healthcare
       writer
        other
      student
     engineer
     engineer
     educator
   programmer
      student
      student
      student
    executive
   programmer
      student
      student
        other
     educator
      retired
      retired
      student
    scientist
      student
     educator
     educator
     engineer
   technician
        other
       artist
       writer
     educator
     engineer
administrator
     engineer
      student
      student
       writer
   programmer
administrator
      student
      student
       writer
       writer
        other
   programmer
       writer
    marketing
administrator
        other
      student
        other
administrator
   programmer
    marketing
    librarian
      student
       writer
        other
   healthcare
      student
     engineer
administrator
     educator
administrator
    marketing
    librarian
      student
administrator
     engineer
     salesman
      student
    librarian
      student
     educator
     engineer
     engineer
    scientist
administrator
     engineer
      student
      student
    scientist
        other
   technician
    executive
     educator
       writer
    scientist
      student
   programmer
        other
     educator
    scientist
     educator
     educator
       writer
       writer
    executive
      student
     engineer
administrator
    librarian
      retired
      student
      student
entertainment
     educator
     educator
     educator
       artist
     educator
      retired
     educator
    marketing
    executive
      student
administrator
     educator
      student
        other
      student
     engineer
      student
    librarian
      student
        other
      student
       lawyer
     educator
    librarian
      student
     educator
     educator
   programmer
       artist
        other
    marketing
      student
   programmer
       artist
        other
   programmer
     educator
     engineer
   programmer
   healthcare
        other
      student
      student
    librarian
     educator
    marketing
     educator
     educator
    scientist
       writer
      student
      student
       writer
      student
   programmer
     educator
      student
   programmer
    scientist
     engineer
         none
        other
   healthcare
      student
      student
   programmer
     engineer
        other
     educator
        other
     engineer
    librarian
      student
      student
      student
    scientist
      retired
   programmer
      student
     educator
     engineer
      student
     engineer
      retired
        other
    executive
      student
   healthcare
     educator
         none
   programmer
     educator
      student
   programmer
    librarian
        other
     engineer
administrator
administrator
    librarian
       writer
        other
   technician
   programmer
administrator
     educator
      student
        other
   programmer
        other
     educator
      student
       lawyer
    marketing
   programmer
    librarian
      student
    librarian
     educator
   healthcare
administrator
        other
     salesman
     educator
     engineer
   healthcare
   programmer
       writer
        other
        other
   programmer
        other
      student
    librarian
        other
     educator
    librarian
      student
      student
    librarian
    homemaker
        other
      student
      student
      student
        other
     engineer
   technician
administrator
   technician
   technician
        other
administrator
entertainment
    homemaker
    executive
    executive
      student
administrator
      student
    executive
      student
    scientist
     educator
        other
        other
        other
   healthcare
       writer
   programmer
   technician
   technician
     educator
       writer
      student
   programmer
    marketing
       writer
     engineer
        other
administrator
        other
administrator
        other
      retired
     salesman
    librarian
     educator
         none
      student
      student
      student
        other
      student
administrator
    scientist
     educator
      student
        other
     engineer
administrator
    executive
      student
      student
       writer
      student
      student
    executive
    librarian
   programmer
      student
      student
   programmer
      student
       artist
    marketing
administrator
     engineer
     engineer
      student
administrator
        other
   technician
     educator
   programmer
      student
     educator
   programmer
       writer
        other
       writer
administrator
   programmer
       writer
administrator
administrator
     educator
        other
    marketing
   healthcare
     salesman
    marketing
        other
     educator
   technician
      student
        other
        other
        other
      student
    librarian
administrator
      student
     engineer
    librarian
       artist
        other
     engineer
       artist
     engineer
    librarian
       writer
   programmer
        other
   technician
       writer
        other
    executive
       artist
       artist
      student
entertainment
       artist
       doctor
       writer
    librarian
     engineer
       doctor
       lawyer
      student
     engineer
      student
   technician
        other
administrator
       writer
      student
    librarian
    marketing
administrator
     educator
        other
      retired
      student
    executive
      student
   programmer
       artist
        other
    scientist
   programmer
      student
      student
    executive
      student
administrator
    scientist
      student
        other
        other
     educator
administrator
      student
    marketing
     engineer
    librarian
     engineer
        other
      student
      student
    scientist
   technician
      student
administrator
        other
      student
     educator
    librarian
       writer
        other
    homemaker
        other
      retired
    executive
       artist
     educator
      student
        other
    librarian
        other
    librarian
     educator
   healthcare
       writer
        other
      student
        other
entertainment
     engineer
      student
    scientist
        other
       artist
      student
administrator
      student
        other
     salesman
entertainment
   programmer
      student
    scientist
    scientist
     educator
     educator
      student
     engineer
       doctor
        other
     educator
   technician
      student
administrator
      student
    librarian
      student

### Step 12. How many different occupations are in this dataset? How many users per occupation are in the dataset?

In [147]:
users['occupation'].unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'],
      dtype=object)

In [150]:
len(users['occupation'].unique())

21

In [151]:
users['occupation'].nunique()

21

In [149]:
# set(users['occupation'])

In [158]:
users['occupation'].value_counts(normalize=True)

student          0.207847
other            0.111347
educator         0.100742
administrator    0.083775
engineer         0.071050
programmer       0.069989
librarian        0.054083
writer           0.047720
executive        0.033934
scientist        0.032874
artist           0.029692
technician       0.028632
marketing        0.027572
entertainment    0.019088
healthcare       0.016967
retired          0.014846
lawyer           0.012725
salesman         0.012725
none             0.009544
homemaker        0.007423
doctor           0.007423
Name: occupation, dtype: float64

### Step 13. What is the most frequent occupation?

In [161]:
users['occupation'].value_counts().index[0]

'student'

In [163]:
users['occupation'].value_counts().idxmax()

'student'

In [166]:
users['occupation'].mode()

0    student
dtype: object

### Step 14. Summarize the DataFrame.  Use describe()

In [168]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 69.1+ KB

In [174]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 15. Summarize all the columns. Use describe()

In [175]:
users.describe(include="all")

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [178]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [179]:
users['age'].mean()

34.05196182396607

In [180]:
np.mean(users['age'])

34.05196182396607

### Step 18. What is the age with least occurrence?

In [198]:
users['age'].value_counts().tail(10)

70    3
62    2
68    2
64    2
69    2
7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

In [201]:
users['age'].unique()

array([24, 53, 23, 33, 42, 57, 36, 29, 39, 28, 47, 45, 49, 21, 30, 35, 40,
       26, 25, 32, 41,  7, 38, 20, 19, 27, 18, 22, 37, 16, 50, 31, 51, 17,
       48, 34, 43, 60, 55, 15, 61, 44, 54, 59, 46, 13, 52, 56, 14, 66, 62,
       11, 65, 68, 63, 64, 10, 73, 58, 69, 70], dtype=int64)

In [205]:
edades_0 = []
for i in range(10, 75):
    if i not in users['age'].unique():
        edades_0.append(i)

In [206]:
print(edades_0)

[12, 67, 71, 72, 74]